
table {
    width: 100%;                  
    border-collapse: collapse;    
}


table, th, td {
    border: 1px solid black;     
}

th {
    height: 50px;                 
    text-align: left;             
    background-color: #333333;    
    color: #ffffff;             
    padding: 15px;                
}

td {
    height: 80px;                 
    vertical-align: bottom;      
    background-color: #f2f2f2;    
    color: #333333;               
    padding: 15px;                
}